@import "tailwindcss";

:root {
    --bg-color: #cec8c0;
    --text-color: #332c50;
    --border-color: #545960;
    --display-color: #e0f8cf;
    --buton-color: #D95763;
}

html {
    cursor: url('./assets/cursors/cursor.png') 24 24, auto;
}

a,
button,
label,
input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
.clickable {
    cursor: url('./assets/cursors/pointer.png') 24 24, pointer;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('./assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'EightBit';
    src: url('./assets/fonts/8bit.ttf');
}

@font-face {
    font-family: 'Gameboy';
    src: url('./assets//fonts/early-gameboy.ttf');
}

h1 {
    font-family: 'Gameboy';
}

nav {
    min-width: 365px;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-family: 'EightBit';
    text-transform: uppercase;
}

.home-page {
    min-width: 365px;
    max-width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    border: 2em solid var(--border-color);
    border-radius: 1em 1em 3em 1em;
}

.display {
    display: flex;
    background-color: var(--display-color);
    font-family: 'EightBit';
    color: var(--text-color);
}

.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about {
    background-color: #F5F7FA;
    border-radius: 0 0 1em 0;
    padding: 0.7em;
    color: var(--text-color);
}

.about h2 {
    font-family: 'Gameboy';
    margin-bottom: 0.5em;
}

.about p {
    font-family: 'EightBit';
}

.button-red {
    background-color: var(--buton-color);
    color: white;
    font-family: 'Gameboy';
    padding: 0.5em 1em;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-top: 1em;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.07s ease-in-out;
}

.button-red:active {
    translate: 2px 2px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-color: #490f23;
}

.game-boy-layout {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-horizontal {
    width: 100%;
    height: 8px;
    position: absolute;
    background-color: var(--border-color);
    top: 3%;
}

.line-vertical {
    width: 8px;
    height: 3.5%;
    position: absolute;
    background-color: var(--border-color);
}

.line-vertical.left {
    left: 10%;
    right: auto;
}

.line-vertical.right {
    left: auto;
    right: 10%;
}