/* ==========================================================================
   1. Imports & Config
   ========================================================================== */
@import "tailwindcss";

:root {
    --bg-color: #cec8c0;
    --text-color: #332c50;
    --border-color: #545960;
    --display-color: #e0f8cf;
    --buton-color: #D95763;
    --brick-color: #c6b7be;
    --mortar-color: #c2b1b9;

    --brick-width: 120px;
    --brick-height: 35px;
    --mortar-thickness: 5px;
}

/* ==========================================================================
   2. Global Styles, Fonts & Resets
   ========================================================================== */
@font-face {
    font-family: 'PressStart2P';
    src: url('./assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'EightBit';
    src: url('./assets/fonts/8bit.ttf');
}

@font-face {
    font-family: 'Gameboy';
    src: url('./assets//fonts/early-gameboy.ttf');
}

html {
    cursor: url('./assets/cursors/cursor.png') 24 24, auto;
}

body {
    background-color: var(--bg-color);
}

a,
button,
label,
input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
.clickable {
    cursor: url('./assets/cursors/pointer.png') 24 24, pointer;
}

h1 {
    font-family: 'Gameboy';
}

/* ==========================================================================
   3. Layout Styles
   ========================================================================== */
.site {
    /* Estilos base para mobile-first */
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.gameboy {
    margin-top: 2.5em;
}

.game-boy-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.home-page {
    min-width: 365px;
    max-width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background-color: var(--display-color);
    border: 2em solid var(--border-color);
    border-radius: 1em 1em 7em 1em;
}

.line-horizontal {
    width: 100%;
    height: 8px;
    background-color: var(--border-color);
}

/* ==========================================================================
   4. Component Styles
   ========================================================================== */
/* Navegação */
nav {
    min-width: 365px;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-family: 'EightBit';
    text-transform: uppercase;
    color: var(--text-color);
}

nav a:hover {
    color: var(--buton-color);
}

/* Display e Conteúdo Interno */
.display {
    display: flex;
    background-color: var(--display-color);
    font-family: 'EightBit';
    color: var(--text-color);
}

.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about {
    background-color: #F5F7FA;
    border-radius: 0 0 5em 0;
    padding: 0.7em;
    color: var(--text-color);
}

.about h2 {
    font-family: 'Gameboy';
    margin-bottom: 0.5em;
}

.about p {
    font-family: 'EightBit';
}

/* Botões e Controles */
.buttons {
    min-width: 365px;
    max-width: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
}

.button-red {
    background-color: var(--buton-color);
    color: white;
    font-family: 'Gameboy';
    padding: 0.5em 1em;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-top: 1em;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.07s ease-in-out;
}

.buttons-a-b {
    margin-left: 3em;
    border: 2px solid #b0afaf;
    padding: .5em;
    border-radius: 2em;
    rotate: -25deg;
}

.buttons-a-b button {
    color: white;
    font-family: 'Gameboy';
    width: 50px;
    height: 50px;
    background-color: var(--buton-color);
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.07s ease-in-out;
    margin: 0 10px;
}

.button-red:active,
.buttons-a-b button:active {
    translate: 2px 2px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-color: #490f23;
}

/* D-Pad */
.d-pad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.d-pad {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #555;
    box-shadow: inset 2px 2px 0px rgba(255, 255, 255, 0.1),
                inset -2px -2px 0px rgba(0, 0, 0, 0.5);
    clip-path: url(#rounded-dpad-shape);
}

.d-pad-button {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    border-radius: 5px;
}

.up    { top: 0; left: 40px; }
.right { top: 40px; right: 0; }
.down  { bottom: 0; left: 40px; }
.left  { top: 40px; left: 0; }

.d-pad-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.up::after    { border-width: 0 7px 10px 7px; border-color: transparent transparent #333 transparent; }
.right::after { border-width: 7px 0 7px 10px; border-color: transparent transparent transparent #333; }
.down::after  { border-width: 10px 7px 0 7px; border-color: #333 transparent transparent transparent; }
.left::after  { border-width: 7px 10px 7px 0; border-color: transparent #333 transparent transparent; }

.d-pad-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.d-pad-button:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
    font-family: 'EightBit';
    color: var(--text-color);
    text-align: center;
    padding: 1em;
}

/* ==========================================================================
   5. Media Queries (Responsiveness)
   ========================================================================== */
@media (min-width: 450px) {
    .site {
        padding: 2em;
        align-items: center;

        background-color: var(--brick-color);
        background-size: var(--brick-width) calc(var(--brick-height) * 2);
        background-image:
            /* Camada 1: Linhas Verticais Alternadas */
            repeating-linear-gradient(
            60deg, /* Da esquerda para a direita */
            var(--mortar-color),
            var(--mortar-color) var(--mortar-thickness),
            transparent var(--mortar-thickness),
            transparent calc(var(--brick-width) / 2)
            ),
            /* Camada 2: Linhas Horizontais */
            repeating-linear-gradient(
            0deg, /* De baixo para cima */
            var(--mortar-color),
            var(--mortar-color) var(--mortar-thickness),
            transparent var(--mortar-thickness),
            transparent var(--brick-height)
            );
        
        /* Desloca as linhas verticais da primeira fileira */
        background-position: calc(var(--brick-width) / 2) 0;
    }

    .gameboy {
        margin-top: 0; /* Reseta a margem do mobile */
        border-radius: 1em 1em 7em 1em;
        background-color: var(--bg-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    
    .game-boy-layout {
      margin-top: 0;
    }

    .home-page {
        min-width: 400px;
    }

    .line-horizontal {
        margin-top: 1.5em;
    }
}